{{/* boolean feature tags */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{-   if eq $hostname "cotescu-macos-2022" -}}
{{-     $work = true -}}
{{-   else -}}
{{-     $personal = true -}}
{{-   end -}}

{{- $email := "radu-likes-to-code@cotescu.com" -}}
{{- if $work -}}
{{-   $email = "cotescu@adobe.com" -}}
{{- end -}}

{{- $zshPlugins:= list "git" "svn-fast-info" "brew" "docker" "npm" "macos" "colored-man-pages" "mvn" "mvn_patch" "git-custom" "history-substring-search" "zsh-autosuggestions" -}}
{{- if $work -}}
{{-   $zshPlugins = append $zshPlugins "kubectl" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    work = {{ $work }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
    zshPlugins = [{{- range $index, $plugin := $zshPlugins }}{{ if $index }}, {{ end }}{{ $plugin | quote }}{{- end }}]

[github]
    refreshPeriod = "12h"

[pinentry]
    command = "pinentry"
