#!/usr/bin/env bash
set -euo pipefail

{{- if .work }}
export SDKMAN_DIR="${HOME}/.sdkman"

if [[ ! -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]]; then
  curl -s "https://get.sdkman.io" | bash
fi

source "${SDKMAN_DIR}/bin/sdkman-init.sh"

sdk install java 25.0.2-oracle
sdk install java 21.0.10-oracle
sdk install java 17.0.12-oracle
sdk install java 11.0.30-tem
sdk install java 8.0.482-tem

sdk default java 25.0.2-oracle
{{- end }}
